<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">
        
            <form method="get" class="form" action="mailto:sumit.shrestha@samriddhicollege.edu.np">
                <div class="second-container">

                 <fieldset class="fieldset"> 
                        <legend class="legend">Login</legend>

                   <div class="username"> 
                        <label for="username">Username</label> <br>
                        <input class="label" type="text" id="username" name="username" placeholder="username" required><br>
                   </div>

                    <div class="password"> 
                        <label for="password">Password</label> <br>
                        <input class="label" type="password" id="password" name="username" placeholder="password" required> <br> 
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check-box" required>
                        <label for="checkbox">I agree the terms and conditions.</label>
                    </div>

                        <input type="submit" value="Login" class="btn">
                    </div>

                </fieldset>
            </form>
    </div>

</body>
</html>