body {
    background-color: beige;
    background: url('backgroundd.jpg') no-repeat;
    background-size: cover;
    font: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: 50px auto 100px auto;
    border: none ;
}

.second-container {
margin: 10px auto;
width: 50%;
}

.fieldset {
    border: 1px solid #5d5e5f;
    border-radius: 25px;
    width: 80%;
    
}

.label {
    margin:7px 0 0 0;
    padding: 5px;
    height: 12px;
    border-radius: 24px;

}

.username {
    margin: 20px auto;

}

.password {
    margin: 20px auto;
}

.submit {
    margin: 20px auto;
}

.legend {
    margin: 5px auto;
}

.btn {
  /* background: #245677; */
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid #5d5e5f;
}

.btn:hover {
    background: #5d5e5f; 
    opacity: 1;
    color: whitesmoke;
}

